body{
	font-family: 'Oswald', 'sans-serif';
	text-align: center;
	border: solid;
	border-color: #5ca028;
}
#output{
	background-color: #d8d8d8;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 350px;
	border: solid;
	border-color: #5ca028;
}
.submitButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d8d8d8;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d8d8d8;
	box-shadow:inset 0px 1px 0px 0px #d8d8d8;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5ca028), color-stop(1, #67bd26) );
	background:-moz-linear-gradient( center top, #5ca028 5%, #67bd26 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ca028', endColorstr='#67bd26');
	background-color:#5ca028;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #d8d8d8;
	display:inline-block;
	color:#ffffff;
	font-family: 'Oswald', 'sans-serif';
	font-size:15px;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
}.submitButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #67bd26), color-stop(1, #5ca028) );
	background:-moz-linear-gradient( center top, #67bd26 5%, #5ca028 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#67bd26', endColorstr='#5ca028');
	background-color:#67bd26;
}.submitButton:active {
	position:relative;
	top:1px;
}